Application ID and Name Import to ClickHouse

**Is your feature request related to a problem? Please describe.**
This isn't related to a problem. I am trying to enhance the data get from goflow2 to include the application ID and name from the netflow packet.

**Describe the solution you'd like**
NBAR was already discussed in a previous open issue, but I am needing more guidance on how to get this importing into ClickHouse. From my understanding, goflow3 understands the ID 95 and 96 in netflow, it just needs to be mapped correctly? Could I get some help with understanding how this works and how I might make this functional?
https://github.com/netsampler/goflow2/issues/122

**Describe alternatives you've considered**
No alternatives have been tried yet.

**Additional context**
I am using the kcg docker-compose file for this. I know I would need to add the columns for these 2 attributes and have done that already.

The RFC shows the values for these attributes here:
[7.1.2](https://datatracker.ietf.org/doc/html/rfc6759#section-7.1.2).  applicationId

   Name: applicationId
   Description:
     Specifies an Application ID.
   Abstract Data Type: octetArray
   Data Type Semantics: identifier
   Reference: See [Section 4 of [RFC6759]](https://datatracker.ietf.org/doc/html/rfc6759#section-4)
   for the applicationId Information Element Specification.
   ElementId: 95
   Status: current

[7.1.3](https://datatracker.ietf.org/doc/html/rfc6759#section-7.1.3).  applicationName

   Name: applicationName
   Description:
     Specifies the name of an application.
   Abstract Data Type: string
   Data Type Semantics:
   ElementId: 96
   Status: current
