Wrong value for flowStartTime/flowEndTime

**Describe the bug**
goflow2 puts the wrong flowStartTime/flowEndTime into Protobuf, e.g., `flow_start_ns = 5008454549467889664` (= 17.09.2128 06:22:29). I had a look at the incoming IPFIX and realized that yaf puts flowStartMilliseconds(152) as well as flowStartMicroseconds(154) in the same IPFIX template. Maybe that could be related to this issue?

![Image](https://github.com/user-attachments/assets/e8549c68-d655-4e7c-aabb-3ff727ca29f2)

**To Reproduce**
Steps to reproduce the behavior:
1. Run GoFlow2 (Kafka may not be necessary): `goflow2 -addr :18702 -transport=kafka -transport.kafka.version=4.0.0 -transport.kafka.brokers=192.168.0.1:9092 -transport.kafka.topic=flows -format=bin -transport.kafka.compression=lz4 -listen=netflow://:8702`
3. Receive samples from yaf
4. Have a look at the timestamp in Protobuf message

**Expected behavior**
goflow2 selecting the flowStartTime with the highest precision from IPFIX.

**Captures**
If needed, I can create a capture. But I need to censor IP addresses, so it takes some time.

**Sampler device:**
yaf version 2.16.2

**GoFlow2:**
 - Version: GoFlow2 v2.2.2 (2025-03-06T03:48:45+0000)
 - Environment: static binary from Github
 - OS: Ubuntu 24.04


Thank you for reporting. It's an interesting bug.

I was able to reproduce with yaf.

```
sudo ./yaf --ipfix=udp --in eth0 --out 127.0.0.1 --ipfix-port 2055 --live pcap
```

I definitely see very different values and GoFlow2 has issue decoding microseconds.

Where it gets confusing:

Wireshark indicates ntp timestamp which is a bit different than regular one
https://github.com/wireshark/wireshark/blob/49c5e5519ab790dbdca205b586427e08c929b003/epan/dissectors/packet-netflow.c#L5657-L5686
and [`ntp_to_nstime`](https://github.com/wireshark/wireshark/blob/49c5e5519ab790dbdca205b586427e08c929b003/epan/dissectors/packet-ntp.c#L1282-L1297) seems to be only used by this dissector

And the RFC does not specify anything regarding the format
https://www.rfc-editor.org/rfc/rfc5102.html#section-3.1.16

And the doc of yaf is a bit fuzzy
https://tools.netsa.cert.org/yaf2/yaf.html

I'm not sure fixing it for one tool won't break it for others... Overall this may be a libpcap assumption. I don't know other tools using microseconds or nanoseconds.

In the meantime, I would suggest to use the option `--time-elements=1` with YAF.

For future reference, the two pcap:
[yaf-output.zip](https://github.com/user-attachments/files/20532207/yaf-output.zip)

Thank you for having a look into the issue.

RFC 5101 and 5102 are obsoleted by 7011 and 7012. [RFC7011 Section 6.1.9 and 6.1.10](https://datatracker.ietf.org/doc/html/rfc7011#section-6.1.9) describes the data format of dateTimeMicroseconds and dateTimeNanoseconds. These are in 64 bit NTP format. So, first 32 bit are decoded as seconds after 01.01.1900, last 32 bits is the fractional part in units of 1/(2^32) seconds. This is not new to RFC7011 and is defined the same way in [RFC5101 6.1.9](https://www.rfc-editor.org/rfc/rfc5101.html#section-6.1.9). More about NTP timestamps [here](https://datatracker.ietf.org/doc/html/rfc5905#section-6).

Oh good catch!
Will implement it.

Should be good with https://github.com/netsampler/goflow2/pull/404, let me know if you can test